<div class="{{this.className}}__logo"></div>
<div class="{{this.className}}__content">
  <div class="{{this.className}}__item"></div>
  <div class="{{this.className}}__item"></div>
  <div class="{{this.className}}__item"></div>
</div>
