<div class="{{className}}__logo"></div>
<div class="{{className}}__content">
  <div class="{{className}}__item"></div>
  <div class="{{className}}__item"></div>
  <div class="{{className}}__item"></div>
</div>
