<div class="nav">
  {{#content-placeholders as |placeholder|}}
    {{placeholder.nav}}
  {{/content-placeholders}}
</div>

<div class="container">
  <div class="panel">
    {{#content-placeholders as |placeholder|}}
      {{placeholder.img}}
      {{placeholder.heading}}
    {{/content-placeholders}}
  </div>

  <div class="panel">
    {{#content-placeholders rounded=true as |placeholder|}}
      {{placeholder.heading}}
      {{placeholder.text}}
    {{/content-placeholders}}
  </div>

  <div class="panel">
    {{#content-placeholders as |placeholder|}}
      {{placeholder.heading img=true}}
    {{/content-placeholders}}
  </div>

  <div class="panel">
    {{#content-placeholders as |placeholder|}}
      {{placeholder.icon}}
    {{/content-placeholders}}
  </div>
</div>
